<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/public/css/dashboard-style.css">
</head>

<body>
    <h3 class="inicio-home">
        <%= title %>
    </h3>
    <div class="scovim-dashboard">

        <section class="dashboard-main">

            <div class="cameras-section" id="camerasContainer">
            </div>

            <aside class="hits-panel">
                <h2>Sujetos detectados</h2>

                <div id="hitsContainer" class="hits-list">
                    <p class="empty-hits">Sin anomalias detectadas...</p>
                </div>
            </aside>

        </section>

    </div>

    <div id="modalCamara" class="modal-camara">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalTitulo">Vista completa</h2>
                <button onclick="cerrarModalCamara()">Cerrar</button>
            </div>

            <div id="modalStream" class="modal-stream">
                STREAMING COMPLETO
            </div>
        </div>
    </div>

    <div id="modalImagenesHit" class="modal-camara">
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modalImagenesTitulo">Imágenes del hit</h2>
                <button onclick="cerrarModalImagenesHit()">Cerrar</button>
            </div>

            <div id="modalImagenesBody" class="modal-images-body"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/main.js"></script>

</body>

</html>