<div>
    <h3>
        <%= title %>
    </h3>
    <script>
        const iidOosto = "<%= iidOosto %>";
    </script>


    <!-- Lista de datos de Oosto -->
    <img id="imgDetenido" src="" alt="Imagen detenido" width="200" height="200">
    <br>
    <pre id="resultado"></pre>
    <script src="/public/js/kardex.js"></script>
</div>