<div>
    <h1>
        <%= title %>
    </h1>

    <!-- Lista de datos de Oosto -->
    <img id="imgDetenido" src="" alt="Imagen detenido" width="200" height="200">
    <br>
    <pre id="resultado"></pre>
    <script src="/public/js/kardex.js"></script>
</div>